{% extends 'person_base.html' %}
 {% block panel %}

 <a href="/staff_add" ><button class="btn btn-info">添加员工</button></a>
 {% endblock %}
{% block info %}
<div><h4><b>员工</b></h4></div>
<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>
							用户名
						</th>
						<th>
							昵称
						</th>
						<th>
							密码
						</th>
						<th>
							手机号码
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
				{% for staff in staffs %}
					<tr>
						<td>
							{{staff.username}}
						</td>
						<td>
							{{staff.nickname}}
						</td>
						<td>
						    (<a href="/staff_password/{{staff.id}}">重置密码</a>)
						</td>
						<td>
							{{staff.phone}}
						</td>
						<td>
							<a href="/staff_edit/{{staff.id}}">修改</a>&nbsp;&nbsp;<a href="/staff_del/{{staff.id}}" onclick="javascript:if(confirm('确定删除?')==false)return false;">删除</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
{% endblock %}