{% extends 'person_base.html' %}

{% block info %}

		<div align="center"><legend>修改员工密码</legend></div>
			<form role="form" action="/staff_password/{{staff.id}}" method="post">
			{{form.hidden_tag()}}
				<div class="form-group">
				<label>密码</label><br>
					{{form.password}}
          {% for error in form.password.errors %}
           <br> <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
				</div>
				
				

				 <button type="submit" class="btn btn-primary">提交</button>
			</form>
		</div>


{% endblock %}