{% extends 'person_base.html' %}
 {% block panel %}

 <a href="/student_add" ><button class="btn btn-info">添加学生</button></a>
 <a href="/student_import" ><button class="btn btn-info">添加学生表单</button></a>
 
 {% endblock %}
{% block info %}

<div><h4><b>学生</b></h4></div>
<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>
							姓名
						</th>
						<th>
							性别
						</th>
						<th>
							课程
						</th>
						<th>
							学校
						</th>
						<th>
							手机号
						</th>
						<th>
							家庭住址
						</th>
						<th>
							家长
						</th>
						<th>
							家长手机号
						</th>
						
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
				{% for student in students %}
					<tr>
						<td>
							{{student.firstname}}{{student.lastname}}
						</td>
						<td>
							{{student.sex}}
						</td>
						<td>
							{{student.course.name}}
						</td>
						<td>
							{{student.school}}
						</td>
						<td>
						    {{student.phone1}}
						</td>
						<td>
						    {{student.province}}{{student.city}}{{student.area}}{{student.address}}
						</td>
						<td>
							{{student.parent}}
						</td>
						<td>
						    {{student.phone2}}
						</td>
						
						<td>
							<a href="/student_edit/{{student.id}}">修改</a>&nbsp;&nbsp;<a href="/student_del/{{student.id}}" onclick="javascript:if(confirm('确定删除?')==false)return false;">删除</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="pagination"> 
			<ul class="pagination">
				<li>
				 {% if pagination.has_prev %} 
                		<a href="/student/{{ pagination.prev_num }}">上一页</a> 
                 {% endif %} 
				</li>
				
				<li>
					 <a href="">当前页：{{ pagination.page }}</a>
				</li>
				<li>
					  {% if pagination.has_next %} 
                		<a href="/student/{{ pagination.next_num }}">下一页</a> 
            		  {% endif %} 
				</li>
			</ul>
    
			</div>
{% endblock %}
{% block js %}
	<script>
	$(function () 
      { $("[data-toggle='popover']").popover();
      });
    </script>
 {% endblock %}