{% extends 'person_base.html' %}


{% block info %}

		<div align="center"><legend>批量上传老师信息</legend></div>
			<form role="form" action="/teacher_import" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label>模板</a></label><br>
				     <a href="/img/teacher_import.xls">点击下载</a><br>
					 <label>上传</label><br>
					<input type="file" name="file">
         
				</div>
				
				

				 <button type="submit" class="btn btn-primary">提交</button>
			</form>


{% endblock %}